body {
    font-family: sans-serif;
    margin: 0px;
    /*
    margin: 20px;
    */
    background-color: #f9f9f9;
}

html{
    scroll-behavior:smooth;
}


.slider {
    width: 90%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    width:100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.charts-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    border: 1px solid #ccc;
    background-color: #fff;
}

.charts-container {                                                                                                                                                                             
    flex: 1;                                                                                                                                                                                    
    display: flex;                                                                                                                                                                              
    flex-direction: column;                                                                                                                                                                     
}                                 

section{
    min-height: 70vh;
}

section .wrapper {
}

.scroll-indicator{
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.scroll-indicator a{
    padding: 10px;
    position: relative;
}

.scroll-indicator a::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:25%;
    background-color: #000;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.scroll-indicator a.active::after{
    background: red;
    transform: translate(-50%, -50%) scale(1.3);
}

.scroll-indicator a::before{
    content:attr(data-section);
    position:absolute;
    right: 24px;
    top:50%;
    transform: translate(4px, -50%);
    background-color:red;
    color:#fff;
    padding: 2px 16px;
    pointer-events: none;
    box-shadow: 0 7px 14px -6px rgba(0,0,0, 0.8);
    opacity: 0;
    transition: all 400ms ease;
    text-align: center;
    font-weight:bold;
}

.scroll-indicator a:hover::before{
    opacity:1;
    transform: translate(0, -50%);
}






/* MAP begin */
.map-container {                                                                                                                                                                                
    flex: 1;                                                                                                                                                                                    
}                                                                                                                                                                                               

.country {                                                                                                                                                                                              
    fill: #ccc;                                                                                                                                                                                         
    stroke: #fff;                                                                                                                                                                                       
    stroke-width: 0.5;                                                                                                                                                                                  
    cursor: pointer;                                                                                                                                                                                    
}                                                                                                                                                                                                       

.country:hover {                                                                                                                                                                                        
    fill: #008000; 
}                                                                                                                                                                                                       

.selected {                                                                                                                                                                                             
    fill: steelblue !important;                                                                                                                                                                         
}                                                                                                                                                                                                       

.tooltip {                                                                                                                                                                                              
    position: absolute;                                                                                                                                                                                 
    background: white;                                                                                                                                                                                  
    border: 1px solid #999;                                                                                                                                                                             
    padding: 5px 10px;                                                                                                                                                                                  
    pointer-events: none;                                                                                                                                                                               
    font-size: 14px;                                                                                                                                                                                    
    border-radius: 4px;                                                                                                                                                                                 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);                                                                                                                                                            
}                                                                                                                                                                                                       
/* MAP end*/
